@model List<Looks.Models.Brand>
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".js-logo").click(function () {
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
                $(this).find("input").val('False');
                //$('#' + $(this).data("item-name")).val('False');

            } else {
                $(this).addClass("selected");
                $(this).find("input").val('True');
                //$('#' + $(this).data("item-name")).val('True');
            }
        });
    });
</script>
<h4>
    Do you like any brands
    in particular?
</h4>
<p class="helper-text">
    Your stylist will use these to refine your options and  introduce you to new, similar brands. Choose as many as you&nbsp;like, or&nbsp;skip this&nbsp;step if&nbsp;you&nbsp;don’t&nbsp;know or&nbsp;mind.
</p>


<div class="registration-main">

    <form class="registration-step-brands" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">
        <ul class="image-select-group js-brands-list ">

            @for (int i = 0; i < Model.Count; i++) {
                <li style="">
                    <a class="js-logo " data-item-name="[@i].IsSelected">
                        <img src=@Model[i].LogoURL alt=@Model[i].Name />
                        <input id=[@i].IsSelected name="[@i].IsSelected" type="hidden" value="False">
                    </a>
                </li>
            }
        </ul>
        <button class="btn btn-xs btn-show-all js-show-all" style="display: none;">Show more brands</button>
        <div class="form-actions ">
            <button type="submit" class="btn btn-default">Next</button>
            <a href="https://www.thread.com/signup/shops" class="btn btn-secondary btn-supporting">Skip this step</a>
        </div>
    </form>
</div>