@model List<Looks.Models.Style>
@{
    ViewBag.Title = "Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    And, lastly, for a dinner or date?
</h4>
<div class="registration-main">
    <div class="registration-step-style-photos" data-occasion="work">
        <form method="POST">
            @Html.Partial("_stylePartial", Model)
            <div class="form-actions ">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary ">Next</button>
            </div>
        </form>
    </div>

</div>
