
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $('#id_next').click(function () {
        window.location.href= '@Url.Action("SignUp", "Trouser")';
    });
</script>

<h4>
    Dress well without the hassle
</h4>
<div class="registration-main">
    <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">
    <img class="copy-supporting-image" src="~/Content/Images/Signup/chinos_chair.jpg" alt="Man sitting on chair using his phone wearing chinos and brown shoes">

    <p class="main-copy">
        Thread’s goal is to help you dress well.
        <br>
        But since that means something different to everyone, we’re going to ask you a few questions that’ll help your stylist find the best clothes for you.
    </p>
    <p class="main-copy">
        This’ll take four minutes or less.
    </p>

    <div class="form-actions">
        <button id="id_next" type="submit" class="btn btn-primary">Next</button>
        <p class="form-alternative-actions">Already have an account? <a href="">Sign in</a></p>
    </div>
</div>