
@{
    ViewBag.Title = "Owned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    Two more questions. Do you own any of&nbsp;the&nbsp;items&nbsp;below?
</h4>
<p class="helper-text">
    Your stylist will help you
    make the most of your existing wardrobe.

    Your stylist will choose outfits that combine new&nbsp;clothes with things
    you already own.


    You&nbsp;can&nbsp;always&nbsp;add&nbsp;these&nbsp;later.
</p>


<div class="registration-main">



    <form class="registration-step-owned-items" method="POST" action="https://www.thread.com/signup/owned-items">
        <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">
        <ul class="image-select-group js-owned-items-list ">

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/685.jpeg" alt="White formal shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/685.jpeg">
                    <input type="hidden" name="owned_items" value="685" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White formal shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/652.jpeg" alt="White trainers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/652.jpeg">
                    <input type="hidden" name="owned_items" value="652" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White trainers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/544.jpeg" alt="Oxford / Derby shoes" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/544.jpeg">
                    <input type="hidden" name="owned_items" value="544" disabled="">
                    <label>

                        Oxford / Derby shoes
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/674.jpeg" alt="Black jeans" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/674.jpeg">
                    <input type="hidden" name="owned_items" value="674" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black jeans
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/688.jpeg" alt="Patterned tie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/688.jpeg">
                    <input type="hidden" name="owned_items" value="688" disabled="">
                    <label>

                        Patterned tie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/576.jpeg" alt="Navy blazer" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/576.jpeg">
                    <input type="hidden" name="owned_items" value="576" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy blazer
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/621.jpeg" alt="Navy formal trousers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/621.jpeg">
                    <input type="hidden" name="owned_items" value="621" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy formal trousers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/635.jpeg" alt="Stone chinos" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/635.jpeg">
                    <input type="hidden" name="owned_items" value="635" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="stone"></span>

                        Stone chinos
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/774.jpeg" alt="Blue casual shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/774.jpeg">
                    <input type="hidden" name="owned_items" value="774" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="blue"></span>

                        Blue casual shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/775.jpeg" alt="White casual shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/775.jpeg">
                    <input type="hidden" name="owned_items" value="775" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White casual shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/656.jpeg" alt="Knitted hat / beanie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/656.jpeg">
                    <input type="hidden" name="owned_items" value="656" disabled="">
                    <label>

                        Knitted hat / beanie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/660.jpeg" alt="Navy cardigan" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/660.jpeg">
                    <input type="hidden" name="owned_items" value="660" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy cardigan
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/540.jpeg" alt="Black formal belt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/540.jpeg">
                    <input type="hidden" name="owned_items" value="540" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black formal belt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/671.jpeg" alt="Dark blue jeans" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/671.jpeg">
                    <input type="hidden" name="owned_items" value="671" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="dark_denim"></span>

                        Dark blue jeans
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/668.jpeg" alt="Navy polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/668.jpeg">
                    <input type="hidden" name="owned_items" value="668" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/812.jpeg" alt="Plain neutral coloured tie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/812.jpeg">
                    <input type="hidden" name="owned_items" value="812" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="neutral"></span>

                        Plain neutral coloured tie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/557.jpeg" alt="Brown Desert Boots" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/557.jpeg">
                    <input type="hidden" name="owned_items" value="557" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown Desert Boots
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/577.jpeg" alt="Grey Blazer" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/577.jpeg">
                    <input type="hidden" name="owned_items" value="577" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey Blazer
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/586.jpeg" alt="Grey v-neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/586.jpeg">
                    <input type="hidden" name="owned_items" value="586" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey v-neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/588.jpeg" alt="Bold coloured v-neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/588.jpeg">
                    <input type="hidden" name="owned_items" value="588" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured v-neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/589.jpeg" alt="White pocket square" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/589.jpeg">
                    <input type="hidden" name="owned_items" value="589" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White pocket square
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/721.jpeg" alt="Chain-link watch" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/721.jpeg">
                    <input type="hidden" name="owned_items" value="721" disabled="">
                    <label>

                        Chain-link watch
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/672.jpeg" alt="Mid blue jeans" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/672.jpeg">
                    <input type="hidden" name="owned_items" value="672" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="mid_denim"></span>

                        Mid blue jeans
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/606.jpeg" alt="Suede shoes / desert shoes" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/606.jpeg">
                    <input type="hidden" name="owned_items" value="606" disabled="">
                    <label>

                        Suede shoes / desert shoes
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/739.jpeg" alt="Brown Brogues" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/739.jpeg">
                    <input type="hidden" name="owned_items" value="739" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown Brogues
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/741.jpeg" alt="Navy suit" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/741.jpeg">
                    <input type="hidden" name="owned_items" value="741" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy suit
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/636.jpeg" alt="Black chinos" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/636.jpeg">
                    <input type="hidden" name="owned_items" value="636" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black chinos
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/750.jpeg" alt="Black crew neck knitted jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/750.jpeg">
                    <input type="hidden" name="owned_items" value="750" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black crew neck knitted jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/752.jpeg" alt="Grey crew neck knitted jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/752.jpeg">
                    <input type="hidden" name="owned_items" value="752" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey crew neck knitted jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/755.jpeg" alt="Lace-up leather boots" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/755.jpeg">
                    <input type="hidden" name="owned_items" value="755" disabled="">
                    <label>

                        Lace-up leather boots
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/764.jpeg" alt="Graphic printed crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/764.jpeg">
                    <input type="hidden" name="owned_items" value="764" disabled="">
                    <label>

                        Graphic printed crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/766.jpeg" alt="Brown casual belt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/766.jpeg">
                    <input type="hidden" name="owned_items" value="766" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown casual belt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/785.jpeg" alt="White crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/785.jpeg">
                    <input type="hidden" name="owned_items" value="785" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/655.jpeg" alt="Converse" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/655.jpeg">
                    <input type="hidden" name="owned_items" value="655" disabled="">
                    <label>

                        Converse
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/634.jpeg" alt="Navy chinos" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/634.jpeg">
                    <input type="hidden" name="owned_items" value="634" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy chinos
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/637.jpeg" alt="Coloured chinos" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/637.jpeg">
                    <input type="hidden" name="owned_items" value="637" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="coloured"></span>

                        Coloured chinos
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/615.jpeg" alt="Leather strap watch" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/615.jpeg">
                    <input type="hidden" name="owned_items" value="615" disabled="">
                    <label>

                        Leather strap watch
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/601.jpeg" alt="Loafers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/601.jpeg">
                    <input type="hidden" name="owned_items" value="601" disabled="">
                    <label>

                        Loafers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/651.jpeg" alt="Black trainers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/651.jpeg">
                    <input type="hidden" name="owned_items" value="651" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black trainers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/786.jpeg" alt="Grey crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/786.jpeg">
                    <input type="hidden" name="owned_items" value="786" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/573.jpeg" alt="Single-breasted overcoat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/573.jpeg">
                    <input type="hidden" name="owned_items" value="573" disabled="">
                    <label>

                        Single-breasted overcoat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/554.jpeg" alt="Boat shoes" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/554.jpeg">
                    <input type="hidden" name="owned_items" value="554" disabled="">
                    <label>

                        Boat shoes
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/545.jpeg" alt="Tortoiseshell sunglasses" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/545.jpeg">
                    <input type="hidden" name="owned_items" value="545" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="tortoiseshell"></span>

                        Tortoiseshell sunglasses
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/740.jpeg" alt="Black Brogues" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/740.jpeg">
                    <input type="hidden" name="owned_items" value="740" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black Brogues
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/551.jpeg" alt="Unstructured blazer" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/551.jpeg">
                    <input type="hidden" name="owned_items" value="551" disabled="">
                    <label>

                        Unstructured blazer
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/762.jpeg" alt="Woven belt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/762.jpeg">
                    <input type="hidden" name="owned_items" value="762" disabled="">
                    <label>

                        Woven belt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/626.jpeg" alt="Cable-knit jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/626.jpeg">
                    <input type="hidden" name="owned_items" value="626" disabled="">
                    <label>

                        Cable-knit jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/609.jpeg" alt="Bomber jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/609.jpeg">
                    <input type="hidden" name="owned_items" value="609" disabled="">
                    <label>

                        Bomber jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/620.jpeg" alt="Grey formal trousers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/620.jpeg">
                    <input type="hidden" name="owned_items" value="620" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey formal trousers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/604.jpeg" alt="Knitted tie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/604.jpeg">
                    <input type="hidden" name="owned_items" value="604" disabled="">
                    <label>

                        Knitted tie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/547.jpeg" alt="Black sunglasses" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/547.jpeg">
                    <input type="hidden" name="owned_items" value="547" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black sunglasses
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/751.jpeg" alt="Navy crew neck knitted jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/751.jpeg">
                    <input type="hidden" name="owned_items" value="751" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy crew neck knitted jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/684.jpeg" alt="Blue formal shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/684.jpeg">
                    <input type="hidden" name="owned_items" value="684" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="blue"></span>

                        Blue formal shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/675.jpeg" alt="Grey jeans" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/675.jpeg">
                    <input type="hidden" name="owned_items" value="675" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey jeans
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/722.jpeg" alt="Grey sweatshirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/722.jpeg">
                    <input type="hidden" name="owned_items" value="722" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey sweatshirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/682.jpeg" alt="Canvas strap watch" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/682.jpeg">
                    <input type="hidden" name="owned_items" value="682" disabled="">
                    <label>

                        Canvas strap watch
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/728.jpeg" alt="Navy shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/728.jpeg">
                    <input type="hidden" name="owned_items" value="728" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/569.jpeg" alt="Black Chelsea Boots" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/569.jpeg">
                    <input type="hidden" name="owned_items" value="569" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black Chelsea Boots
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/791.jpeg" alt="Patterned pocket square" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/791.jpeg">
                    <input type="hidden" name="owned_items" value="791" disabled="">
                    <label>

                        Patterned pocket square
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/608.jpeg" alt="Holdall" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/608.jpeg">
                    <input type="hidden" name="owned_items" value="608" disabled="">
                    <label>

                        Holdall
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/581.jpeg" alt="Stone trench coat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/581.jpeg">
                    <input type="hidden" name="owned_items" value="581" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="stone"></span>

                        Stone trench coat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/726.jpeg" alt="Denim shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/726.jpeg">
                    <input type="hidden" name="owned_items" value="726" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="mid_denim"></span>

                        Denim shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/596.jpeg" alt="Striped casual shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/596.jpeg">
                    <input type="hidden" name="owned_items" value="596" disabled="">
                    <label>

                        Striped casual shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/595.jpeg" alt="Rucksack" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/595.jpeg">
                    <input type="hidden" name="owned_items" value="595" disabled="">
                    <label>

                        Rucksack
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/730.jpeg" alt="Stone shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/730.jpeg">
                    <input type="hidden" name="owned_items" value="730" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="stone"></span>

                        Stone shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/716.jpeg" alt="Grey hoodie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/716.jpeg">
                    <input type="hidden" name="owned_items" value="716" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey hoodie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/798.jpeg" alt="Black leather jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/798.jpeg">
                    <input type="hidden" name="owned_items" value="798" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black leather jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/748.jpeg" alt="Striped crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/748.jpeg">
                    <input type="hidden" name="owned_items" value="748" disabled="">
                    <label>

                        Striped crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/582.jpeg" alt="Navy trench coat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/582.jpeg">
                    <input type="hidden" name="owned_items" value="582" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy trench coat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/553.jpeg" alt="Pea coat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/553.jpeg">
                    <input type="hidden" name="owned_items" value="553" disabled="">
                    <label>

                        Pea coat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/692.jpeg" alt="White long-sleeved t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/692.jpeg">
                    <input type="hidden" name="owned_items" value="692" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White long-sleeved t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/734.jpeg" alt="Plain neutral knitted scarf" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/734.jpeg">
                    <input type="hidden" name="owned_items" value="734" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="neutral"></span>

                        Plain neutral knitted scarf
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/574.jpeg" alt="Briefcase" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/574.jpeg">
                    <input type="hidden" name="owned_items" value="574" disabled="">
                    <label>

                        Briefcase
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/803.jpeg" alt="Dark denim jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/803.jpeg">
                    <input type="hidden" name="owned_items" value="803" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="dark_denim"></span>

                        Dark denim jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/754.jpeg" alt="Bold coloured crew neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/754.jpeg">
                    <input type="hidden" name="owned_items" value="754" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured crew neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/568.jpeg" alt="Brown Chelsea Boots" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/568.jpeg">
                    <input type="hidden" name="owned_items" value="568" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown Chelsea Boots
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/788.jpeg" alt="Black crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/788.jpeg">
                    <input type="hidden" name="owned_items" value="788" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/797.jpeg" alt="Parka" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/797.jpeg">
                    <input type="hidden" name="owned_items" value="797" disabled="">
                    <label>

                        Parka
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/639.jpeg" alt="Baseball / snapback cap" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/639.jpeg">
                    <input type="hidden" name="owned_items" value="639" disabled="">
                    <label>

                        Baseball / snapback cap
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/558.jpeg" alt="Black Desert Boots" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/558.jpeg">
                    <input type="hidden" name="owned_items" value="558" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black Desert Boots
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/767.jpeg" alt="Black casual belt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/767.jpeg">
                    <input type="hidden" name="owned_items" value="767" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black casual belt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/619.jpeg" alt="Black formal trousers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/619.jpeg">
                    <input type="hidden" name="owned_items" value="619" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black formal trousers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/623.jpeg" alt="Neutral plaid shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/623.jpeg">
                    <input type="hidden" name="owned_items" value="623" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="neutral"></span>

                        Neutral plaid shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/813.jpeg" alt="Bold coloured tie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/813.jpeg">
                    <input type="hidden" name="owned_items" value="813" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured tie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/669.jpeg" alt="White polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/669.jpeg">
                    <input type="hidden" name="owned_items" value="669" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/628.jpeg" alt="Short-sleeved patterned shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/628.jpeg">
                    <input type="hidden" name="owned_items" value="628" disabled="">
                    <label>

                        Short-sleeved patterned shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/763.jpeg" alt="Waterproof jacket / windbreaker" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/763.jpeg">
                    <input type="hidden" name="owned_items" value="763" disabled="">
                    <label>

                        Waterproof jacket / windbreaker
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/769.jpeg" alt="White v-neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/769.jpeg">
                    <input type="hidden" name="owned_items" value="769" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="white"></span>

                        White v-neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/787.jpeg" alt="Navy crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/787.jpeg">
                    <input type="hidden" name="owned_items" value="787" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/542.jpeg" alt="Raincoat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/542.jpeg">
                    <input type="hidden" name="owned_items" value="542" disabled="">
                    <label>

                        Raincoat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/743.jpeg" alt="Grey suit" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/743.jpeg">
                    <input type="hidden" name="owned_items" value="743" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey suit
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/645.jpeg" alt="Metal framed sunglasses" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/645.jpeg">
                    <input type="hidden" name="owned_items" value="645" disabled="">
                    <label>

                        Metal framed sunglasses
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/695.jpeg" alt="Grey long-sleeved t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/695.jpeg">
                    <input type="hidden" name="owned_items" value="695" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey long-sleeved t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/590.jpeg" alt="Coloured plain pocket square" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/590.jpeg">
                    <input type="hidden" name="owned_items" value="590" disabled="">
                    <label>

                        Coloured plain pocket square
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/756.jpeg" alt="Sweatpants" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/756.jpeg">
                    <input type="hidden" name="owned_items" value="756" disabled="">
                    <label>

                        Sweatpants
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/758.jpeg" alt="Chunky cardigan" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/758.jpeg">
                    <input type="hidden" name="owned_items" value="758" disabled="">
                    <label>

                        Chunky cardigan
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/603.jpeg" alt="Short-sleeved plain shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/603.jpeg">
                    <input type="hidden" name="owned_items" value="603" disabled="">
                    <label>

                        Short-sleeved plain shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/729.jpeg" alt="Khaki shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/729.jpeg">
                    <input type="hidden" name="owned_items" value="729" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="khaki"></span>

                        Khaki shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/773.jpeg" alt="Small-check formal shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/773.jpeg">
                    <input type="hidden" name="owned_items" value="773" disabled="">
                    <label>

                        Small-check formal shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/662.jpeg" alt="Grey cardigan" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/662.jpeg">
                    <input type="hidden" name="owned_items" value="662" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey cardigan
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/585.jpeg" alt="Navy v-neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/585.jpeg">
                    <input type="hidden" name="owned_items" value="585" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy v-neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/613.jpeg" alt="Quilted jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/613.jpeg">
                    <input type="hidden" name="owned_items" value="613" disabled="">
                    <label>

                        Quilted jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/679.jpeg" alt="Espadrilles" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/679.jpeg">
                    <input type="hidden" name="owned_items" value="679" disabled="">
                    <label>

                        Espadrilles
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/624.jpeg" alt="Bold plaid shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/624.jpeg">
                    <input type="hidden" name="owned_items" value="624" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold plaid shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/646.jpeg" alt="Striped formal shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/646.jpeg">
                    <input type="hidden" name="owned_items" value="646" disabled="">
                    <label>

                        Striped formal shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/723.jpeg" alt="Blue sweatshirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/723.jpeg">
                    <input type="hidden" name="owned_items" value="723" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="blue"></span>

                        Blue sweatshirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/665.jpeg" alt="Wool jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/665.jpeg">
                    <input type="hidden" name="owned_items" value="665" disabled="">
                    <label>

                        Wool jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/678.jpeg" alt="Striped jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/678.jpeg">
                    <input type="hidden" name="owned_items" value="678" disabled="">
                    <label>

                        Striped jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/599.jpeg" alt="Bright socks" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/599.jpeg">
                    <input type="hidden" name="owned_items" value="599" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bright"></span>

                        Bright socks
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/789.jpeg" alt="Pale coloured crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/789.jpeg">
                    <input type="hidden" name="owned_items" value="789" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="pale"></span>

                        Pale coloured crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/805.jpeg" alt="Bracelet" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/805.jpeg">
                    <input type="hidden" name="owned_items" value="805" disabled="">
                    <label>

                        Bracelet
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/600.jpeg" alt="Plain neutral socks" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/600.jpeg">
                    <input type="hidden" name="owned_items" value="600" disabled="">
                    <label>

                        Plain neutral socks
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/643.jpeg" alt="Grey long-sleeved polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/643.jpeg">
                    <input type="hidden" name="owned_items" value="643" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey long-sleeved polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/602.jpeg" alt="Denim shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/602.jpeg">
                    <input type="hidden" name="owned_items" value="602" disabled="">
                    <label>

                        Denim shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/799.jpeg" alt="Brown leather jacket" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/799.jpeg">
                    <input type="hidden" name="owned_items" value="799" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown leather jacket
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/566.jpeg" alt="Patterned knitted scarf" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/566.jpeg">
                    <input type="hidden" name="owned_items" value="566" disabled="">
                    <label>

                        Patterned knitted scarf
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/811.jpeg" alt="Black tie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/811.jpeg">
                    <input type="hidden" name="owned_items" value="811" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black tie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/559.jpeg" alt="Lightweight / silk scarf" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/559.jpeg">
                    <input type="hidden" name="owned_items" value="559" disabled="">
                    <label>

                        Lightweight / silk scarf
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/737.jpeg" alt="Check suit" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/737.jpeg">
                    <input type="hidden" name="owned_items" value="737" disabled="">
                    <label>

                        Check suit
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/543.jpeg" alt="Running trainers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/543.jpeg">
                    <input type="hidden" name="owned_items" value="543" disabled="">
                    <label>

                        Running trainers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/654.jpeg" alt="Bright trainers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/654.jpeg">
                    <input type="hidden" name="owned_items" value="654" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bright"></span>

                        Bright trainers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/647.jpeg" alt="Satchel / messenger bag" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/647.jpeg">
                    <input type="hidden" name="owned_items" value="647" disabled="">
                    <label>

                        Satchel / messenger bag
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/562.jpeg" alt="Patterned formal trousers" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/562.jpeg">
                    <input type="hidden" name="owned_items" value="562" disabled="">
                    <label>

                        Patterned formal trousers
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/735.jpeg" alt="Plain bright knitted scarf" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/735.jpeg">
                    <input type="hidden" name="owned_items" value="735" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bright"></span>

                        Plain bright knitted scarf
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/667.jpeg" alt="Black polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/667.jpeg">
                    <input type="hidden" name="owned_items" value="667" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/806.jpeg" alt="Striped / patterned polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/806.jpeg">
                    <input type="hidden" name="owned_items" value="806" disabled="">
                    <label>

                        Striped / patterned polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/564.jpeg" alt="Logo / printed hoodie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/564.jpeg">
                    <input type="hidden" name="owned_items" value="564" disabled="">
                    <label>

                        Logo / printed hoodie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/742.jpeg" alt="Black suit" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/742.jpeg">
                    <input type="hidden" name="owned_items" value="742" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black suit
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/661.jpeg" alt="Black cardigan" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/661.jpeg">
                    <input type="hidden" name="owned_items" value="661" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black cardigan
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/658.jpeg" alt="Sweat shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/658.jpeg">
                    <input type="hidden" name="owned_items" value="658" disabled="">
                    <label>

                        Sweat shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/539.jpeg" alt="Brown formal belt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/539.jpeg">
                    <input type="hidden" name="owned_items" value="539" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="brown"></span>

                        Brown formal belt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/584.jpeg" alt="Black v-neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/584.jpeg">
                    <input type="hidden" name="owned_items" value="584" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black v-neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/670.jpeg" alt="Bold coloured polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/670.jpeg">
                    <input type="hidden" name="owned_items" value="670" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/689.jpeg" alt="Down coat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/689.jpeg">
                    <input type="hidden" name="owned_items" value="689" disabled="">
                    <label>

                        Down coat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/538.jpeg" alt="Cords" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/538.jpeg">
                    <input type="hidden" name="owned_items" value="538" disabled="">
                    <label>

                        Cords
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/717.jpeg" alt="Navy hoodie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/717.jpeg">
                    <input type="hidden" name="owned_items" value="717" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy hoodie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/790.jpeg" alt="Bold coloured crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/790.jpeg">
                    <input type="hidden" name="owned_items" value="790" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/700.jpeg" alt="Shawl neck jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/700.jpeg">
                    <input type="hidden" name="owned_items" value="700" disabled="">
                    <label>

                        Shawl neck jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/687.jpeg" alt="Half-zip / half-button jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/687.jpeg">
                    <input type="hidden" name="owned_items" value="687" disabled="">
                    <label>

                        Half-zip / half-button jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/570.jpeg" alt="Patterned jumper" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/570.jpeg">
                    <input type="hidden" name="owned_items" value="570" disabled="">
                    <label>

                        Patterned jumper
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/713.jpeg" alt="Flipflops" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/713.jpeg">
                    <input type="hidden" name="owned_items" value="713" disabled="">
                    <label>

                        Flipflops
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/648.jpeg" alt="Sandals" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/648.jpeg">
                    <input type="hidden" name="owned_items" value="648" disabled="">
                    <label>

                        Sandals
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/659.jpeg" alt="Cargo shorts" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/659.jpeg">
                    <input type="hidden" name="owned_items" value="659" disabled="">
                    <label>

                        Cargo shorts
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/642.jpeg" alt="Navy long-sleeved polo" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/642.jpeg">
                    <input type="hidden" name="owned_items" value="642" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy long-sleeved polo
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/578.jpeg" alt="Black blazer" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/578.jpeg">
                    <input type="hidden" name="owned_items" value="578" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black blazer
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/702.jpeg" alt="Logo / printed sweatshirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/702.jpeg">
                    <input type="hidden" name="owned_items" value="702" disabled="">
                    <label>

                        Logo / printed sweatshirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/681.jpeg" alt="Leather gloves" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/681.jpeg">
                    <input type="hidden" name="owned_items" value="681" disabled="">
                    <label>

                        Leather gloves
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/694.jpeg" alt="Black long-sleeved t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/694.jpeg">
                    <input type="hidden" name="owned_items" value="694" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black long-sleeved t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/770.jpeg" alt="Grey v-neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/770.jpeg">
                    <input type="hidden" name="owned_items" value="770" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey v-neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/768.jpeg" alt="Black v-neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/768.jpeg">
                    <input type="hidden" name="owned_items" value="768" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black v-neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/757.jpeg" alt="Sports watch" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/757.jpeg">
                    <input type="hidden" name="owned_items" value="757" disabled="">
                    <label>

                        Sports watch
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/556.jpeg" alt="Felt / structured hat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/556.jpeg">
                    <input type="hidden" name="owned_items" value="556" disabled="">
                    <label>

                        Felt / structured hat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/780.jpeg" alt="Bold coloured casual shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/780.jpeg">
                    <input type="hidden" name="owned_items" value="780" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured casual shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/772.jpeg" alt="Bold coloured v-neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/772.jpeg">
                    <input type="hidden" name="owned_items" value="772" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="bold"></span>

                        Bold coloured v-neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/629.jpeg" alt="Navy waistcoat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/629.jpeg">
                    <input type="hidden" name="owned_items" value="629" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy waistcoat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/771.jpeg" alt="Pale coloured v-neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/771.jpeg">
                    <input type="hidden" name="owned_items" value="771" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="pale"></span>

                        Pale coloured v-neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/727.jpeg" alt="Patterned crew neck t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/727.jpeg">
                    <input type="hidden" name="owned_items" value="727" disabled="">
                    <label>

                        Patterned crew neck t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/693.jpeg" alt="Navy long-sleeved t-shirt" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/693.jpeg">
                    <input type="hidden" name="owned_items" value="693" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="navy"></span>

                        Navy long-sleeved t-shirt
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/630.jpeg" alt="Grey waistcoat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/630.jpeg">
                    <input type="hidden" name="owned_items" value="630" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="grey"></span>

                        Grey waistcoat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/815.jpeg" alt="Patterned socks" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/815.jpeg">
                    <input type="hidden" name="owned_items" value="815" disabled="">
                    <label>

                        Patterned socks
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/640.jpeg" alt="Black bowtie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/640.jpeg">
                    <input type="hidden" name="owned_items" value="640" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black bowtie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/561.jpeg" alt="Ring" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/561.jpeg">
                    <input type="hidden" name="owned_items" value="561" disabled="">
                    <label>

                        Ring
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/809.jpeg" alt="Knitted gloves" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/809.jpeg">
                    <input type="hidden" name="owned_items" value="809" disabled="">
                    <label>

                        Knitted gloves
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/810.jpeg" alt="Classic cufflinks" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/810.jpeg">
                    <input type="hidden" name="owned_items" value="810" disabled="">
                    <label>

                        Classic cufflinks
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/631.jpeg" alt="Black waistcoat" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/631.jpeg">
                    <input type="hidden" name="owned_items" value="631" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="black"></span>

                        Black waistcoat
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/664.jpeg" alt="Characterful cufflinks" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/664.jpeg">
                    <input type="hidden" name="owned_items" value="664" disabled="">
                    <label>

                        Characterful cufflinks
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/641.jpeg" alt="Coloured bowtie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/641.jpeg">
                    <input type="hidden" name="owned_items" value="641" disabled="">
                    <label>

                        <span class="key-item-category-swatch" data-colour="coloured"></span>

                        Coloured bowtie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/683.jpeg" alt="Patterned bowtie" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/683.jpeg">
                    <input type="hidden" name="owned_items" value="683" disabled="">
                    <label>

                        Patterned bowtie
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/712.jpeg" alt="Trackpants" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/712.jpeg">
                    <input type="hidden" name="owned_items" value="712" disabled="">
                    <label>

                        Trackpants
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/782.jpeg" alt="Necklace" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/782.jpeg">
                    <input type="hidden" name="owned_items" value="782" disabled="">
                    <label>

                        Necklace
                    </label>
                </a>
            </li>

            <li class="">
                <a class="js-owned-item  owned-item">
                    <img src="./Owned items_files/733.jpeg" alt="Flat cap" data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/key_item_categories.KeyItemCategory/image_low/original/733.jpeg">
                    <input type="hidden" name="owned_items" value="733" disabled="">
                    <label>

                        Flat cap
                    </label>
                </a>
            </li>

        </ul>
        <button class="btn btn-xs btn-show-all js-show-all" style="display: none;">Show more items</button>
        <div class="form-actions ">
            <button type="submit" class="btn btn-default">Next</button>
        </div>
    </form>

</div>
