@model List<Looks.Models.Style>
@{
    ViewBag.Title = "Weekend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".js-photo-toggle").click(function () {
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
                $(this).find("input").val('False');
                //$('#' + $(this).data("item-name")).val('False');

            } else {
                $(this).addClass("selected");
                $(this).find("input").val('True');
                //$('#' + $(this).data("item-name")).val('True');
            }
        });
    });
</script>
<h4>

    Which of these weekend styles do you like?

</h4>

<p class="helper-text">
    To begin understanding how you'd like to dress, we're
    going to ask you to choose your favourites from three&nbsp;sets&nbsp;of&nbsp;photos.
</p>
<p class="helper-text">
    We get that some of these guys look similar, but just click on all the ones you like
    (4&nbsp;to&nbsp;8&nbsp;usually&nbsp;works&nbsp;well).
</p>

<div class="registration-main">
    <form method="POST">
        <div class="registration-step-style-photos" data-occasion="weekend">
            <ul class="js-style-photos-container image-select-group " data-min-photos="1" data-max-photos="20">
                @*@for(int i = 1; i < Model.Count; i++) {
                    <li>
                        <a class="js-photo-toggle data-item-name="[@i].IsSelected">
                            <img src=@Model[i].ImageUrl alt=@Model[i].Description />
                            <input id=[@i].IsSelected name="[@i].IsSelected" type="hidden" value="False" />
                        </a>
                    </li>

                }*@
            </ul>
            <div class="form-actions ">

                <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary ">Next</button>

            </div>
        </div>
    </form>
</div>