
@{
    ViewBag.Title = "Weekend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>

    Which of these weekend styles do you like?

</h4>

<p class="helper-text">
    To begin understanding how you'd like to dress, we're
    going to ask you to choose your favourites from three&nbsp;sets&nbsp;of&nbsp;photos.
</p>
<p class="helper-text">
    We get that some of these guys look similar, but just click on all the ones you like
    (4&nbsp;to&nbsp;8&nbsp;usually&nbsp;works&nbsp;well).
</p>



<div class="registration-main">

    <div class="registration-step-style-photos" data-occasion="weekend">
        <ul class="js-style-photos-container image-select-group " data-min-photos="1" data-max-photos="20">

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/45.jpeg?nI5QDVSG" data-select-url="/xhr/signup/occasions3/45" data-unselect-url="/xhr/signup/occasions3/45/unselect">
                    <img src="./weekend_files/45.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/53.jpeg?CbHIhjhW" data-select-url="/xhr/signup/occasions3/53" data-unselect-url="/xhr/signup/occasions3/53/unselect">
                    <img src="./weekend_files/53.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/61.jpeg?4AucWQuS" data-select-url="/xhr/signup/occasions3/61" data-unselect-url="/xhr/signup/occasions3/61/unselect">
                    <img src="./weekend_files/61.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/10.jpeg?qsWgSzr1" data-select-url="/xhr/signup/occasions3/10" data-unselect-url="/xhr/signup/occasions3/10/unselect">
                    <img src="./weekend_files/10.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/96.jpeg?L2Y2e0sL" data-select-url="/xhr/signup/occasions3/96" data-unselect-url="/xhr/signup/occasions3/96/unselect">
                    <img src="./weekend_files/96.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/79.jpeg?1Lqbaj6U" data-select-url="/xhr/signup/occasions3/79" data-unselect-url="/xhr/signup/occasions3/79/unselect">
                    <img src="./weekend_files/79.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/41.jpeg?abbNF6KB" data-select-url="/xhr/signup/occasions3/41" data-unselect-url="/xhr/signup/occasions3/41/unselect">
                    <img src="./weekend_files/41.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/22.jpeg?zE3vMUiG" data-select-url="/xhr/signup/occasions3/22" data-unselect-url="/xhr/signup/occasions3/22/unselect">
                    <img src="./weekend_files/22.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/92.jpeg?uBe4pIjA" data-select-url="/xhr/signup/occasions3/92" data-unselect-url="/xhr/signup/occasions3/92/unselect">
                    <img src="./weekend_files/92.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/47.jpeg?AlOSC0hJ" data-select-url="/xhr/signup/occasions3/47" data-unselect-url="/xhr/signup/occasions3/47/unselect">
                    <img src="./weekend_files/47.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/23.jpeg?HhsCuwMm" data-select-url="/xhr/signup/occasions3/23" data-unselect-url="/xhr/signup/occasions3/23/unselect">
                    <img src="./weekend_files/23.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/32.jpeg?vqLIzOxd" data-select-url="/xhr/signup/occasions3/32" data-unselect-url="/xhr/signup/occasions3/32/unselect">
                    <img src="./weekend_files/32.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/55.jpeg?iO9XvuL6" data-select-url="/xhr/signup/occasions3/55" data-unselect-url="/xhr/signup/occasions3/55/unselect">
                    <img src="./weekend_files/55.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/46.jpeg?Cry8OI2W" data-select-url="/xhr/signup/occasions3/46" data-unselect-url="/xhr/signup/occasions3/46/unselect">
                    <img src="./weekend_files/46.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/64.jpeg?pBR7EaZh" data-select-url="/xhr/signup/occasions3/64" data-unselect-url="/xhr/signup/occasions3/64/unselect">
                    <img src="./weekend_files/64.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/4.jpeg?WRpWBKH5" data-select-url="/xhr/signup/occasions3/4" data-unselect-url="/xhr/signup/occasions3/4/unselect">
                    <img src="./weekend_files/4.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/68.jpeg?LrOgkfEq" data-select-url="/xhr/signup/occasions3/68" data-unselect-url="/xhr/signup/occasions3/68/unselect">
                    <img src="./weekend_files/68.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/82.jpeg?SMSKifbL" data-select-url="/xhr/signup/occasions3/82" data-unselect-url="/xhr/signup/occasions3/82/unselect">
                    <img src="./weekend_files/82.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/98.jpeg?TUX8EsvC" data-select-url="/xhr/signup/occasions3/98" data-unselect-url="/xhr/signup/occasions3/98/unselect">
                    <img src="./weekend_files/98.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/40.jpeg?MnWahbAQ" data-select-url="/xhr/signup/occasions3/40" data-unselect-url="/xhr/signup/occasions3/40/unselect">
                    <img src="./weekend_files/40.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/71.jpeg?jCfZ9ouL" data-select-url="/xhr/signup/occasions3/71" data-unselect-url="/xhr/signup/occasions3/71/unselect">
                    <img src="./weekend_files/71.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/74.jpeg?Dzc6H9Q1" data-select-url="/xhr/signup/occasions3/74" data-unselect-url="/xhr/signup/occasions3/74/unselect">
                    <img src="./weekend_files/74.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/31.jpeg?4dupn5PE" data-select-url="/xhr/signup/occasions3/31" data-unselect-url="/xhr/signup/occasions3/31/unselect">
                    <img src="./weekend_files/31.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/3.jpeg?9zDLAGfg" data-select-url="/xhr/signup/occasions3/3" data-unselect-url="/xhr/signup/occasions3/3/unselect">
                    <img src="./weekend_files/3.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/60.jpeg?RLdaOY9i" data-select-url="/xhr/signup/occasions3/60" data-unselect-url="/xhr/signup/occasions3/60/unselect">
                    <img src="./weekend_files/60.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/13.jpeg?WDHqA8e0" data-select-url="/xhr/signup/occasions3/13" data-unselect-url="/xhr/signup/occasions3/13/unselect">
                    <img src="./weekend_files/13.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/87.jpeg?CFrxCeZs" data-select-url="/xhr/signup/occasions3/87" data-unselect-url="/xhr/signup/occasions3/87/unselect">
                    <img src="./weekend_files/87.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/58.jpeg?YBTUvrIf" data-select-url="/xhr/signup/occasions3/58" data-unselect-url="/xhr/signup/occasions3/58/unselect">
                    <img src="./weekend_files/58.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/19.jpeg?SncBNTde" data-select-url="/xhr/signup/occasions3/19" data-unselect-url="/xhr/signup/occasions3/19/unselect">
                    <img src="./weekend_files/19.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/8.jpeg?e6jPSUHu" data-select-url="/xhr/signup/occasions3/8" data-unselect-url="/xhr/signup/occasions3/8/unselect">
                    <img src="./weekend_files/8.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/12.jpeg?RCUS8qZB" data-select-url="/xhr/signup/occasions3/12" data-unselect-url="/xhr/signup/occasions3/12/unselect">
                    <img src="./weekend_files/12.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/37.jpeg?ygSYns0l" data-select-url="/xhr/signup/occasions3/37" data-unselect-url="/xhr/signup/occasions3/37/unselect">
                    <img src="./weekend_files/37.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/62.jpeg?5oDE0OS6" data-select-url="/xhr/signup/occasions3/62" data-unselect-url="/xhr/signup/occasions3/62/unselect">
                    <img src="./weekend_files/62.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/17.jpeg?PuGz8GZH" data-select-url="/xhr/signup/occasions3/17" data-unselect-url="/xhr/signup/occasions3/17/unselect">
                    <img src="./weekend_files/17.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/91.jpeg?tgbqx0zr" data-select-url="/xhr/signup/occasions3/91" data-unselect-url="/xhr/signup/occasions3/91/unselect">
                    <img src="./weekend_files/91.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/78.jpeg?Oj20QT6z" data-select-url="/xhr/signup/occasions3/78" data-unselect-url="/xhr/signup/occasions3/78/unselect">
                    <img src="./weekend_files/78.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/73.jpeg?IMHHob4D" data-select-url="/xhr/signup/occasions3/73" data-unselect-url="/xhr/signup/occasions3/73/unselect">
                    <img src="./weekend_files/73.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/28.jpeg?cXGombSm" data-select-url="/xhr/signup/occasions3/28" data-unselect-url="/xhr/signup/occasions3/28/unselect">
                    <img src="./weekend_files/28.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/24.jpeg?bhDOYXkO" data-select-url="/xhr/signup/occasions3/24" data-unselect-url="/xhr/signup/occasions3/24/unselect">
                    <img src="./weekend_files/24.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/95.jpeg?TgUiFYuu" data-select-url="/xhr/signup/occasions3/95" data-unselect-url="/xhr/signup/occasions3/95/unselect">
                    <img src="./weekend_files/95.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/72.jpeg?CwW6sY1m" data-select-url="/xhr/signup/occasions3/72" data-unselect-url="/xhr/signup/occasions3/72/unselect">
                    <img src="./weekend_files/72.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/43.jpeg?Lh4v9M4D" data-select-url="/xhr/signup/occasions3/43" data-unselect-url="/xhr/signup/occasions3/43/unselect">
                    <img src="./weekend_files/43.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/90.jpeg?DUS5UMme" data-select-url="/xhr/signup/occasions3/90" data-unselect-url="/xhr/signup/occasions3/90/unselect">
                    <img src="./weekend_files/90.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/44.jpeg?MMRbBFXx" data-select-url="/xhr/signup/occasions3/44" data-unselect-url="/xhr/signup/occasions3/44/unselect">
                    <img src="./weekend_files/44.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.thread.com/signup/occasions3/weekend#" class="js-photo-toggle " data-image-url="https://d1bwyguot0k3jj.cloudfront.net/yadt/style_photos3.Photo/image/thumbnail_large/85.jpeg?nXnSE15O" data-select-url="/xhr/signup/occasions3/85" data-unselect-url="/xhr/signup/occasions3/85/unselect">
                    <img src="./weekend_files/85.jpeg" alt="">
                </a>
            </li>

        </ul>
        <div class="form-actions ">
            <form method="POST" action="https://www.thread.com/signup/occasions3/weekend">
                <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>

                <button type="submit" class="btn js-next btn-primary btn-disabled">Next</button>

            </form>
        </div>
    </div>

</div>