@model List<Looks.Models.Style>
@{
    ViewBag.Title = "Weekend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>

    Which of these weekend styles do you like?

</h4>

<p class="helper-text">
    To begin understanding how you'd like to dress, we're
    going to ask you to choose your favourites from three&nbsp;sets&nbsp;of&nbsp;photos.
</p>
<p class="helper-text">
    We get that some of these guys look similar, but just click on all the ones you like
    (4&nbsp;to&nbsp;8&nbsp;usually&nbsp;works&nbsp;well).
</p>

<div class="registration-main">
    <form method="POST">
        <div class="registration-step-style-photos" data-occasion="weekend">
            @Html.Partial("_stylePartial", Model)
            <div class="form-actions ">
                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary ">Next</button>
            </div>
        </div>
    </form>
</div>