
@{
    ViewBag.Title = "Weekend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>

    Which of these weekend styles do you like?

</h4>

<p class="helper-text">
    To begin understanding how you'd like to dress, we're
    going to ask you to choose your favourites from three&nbsp;sets&nbsp;of&nbsp;photos.
</p>
<p class="helper-text">
    We get that some of these guys look similar, but just click on all the ones you like
    (4&nbsp;to&nbsp;8&nbsp;usually&nbsp;works&nbsp;well).
</p>

<div class="registration-main">
    <div class="registration-step-style-photos" data-occasion="weekend">
        <ul class="js-style-photos-container image-select-group " data-min-photos="1" data-max-photos="20">
            @for (int i = 1; i < 45; i++) {
                var path = "../Content/Images/Signup/Stlyes/"+i.ToString()+".jpeg";
                    <li>
                        <a class="js-photo-toggle ">
                            <img src=@path alt="">
                        </a>
                    </li>
            }
        </ul>
        <div class="form-actions ">
            <form method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary btn-disabled">Next</button>
            </form>
        </div>
    </div>

</div>