
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    And for work?
</h4>
<p class="helper-text">
    If you dress the
    same for work as you do at the work,
    or&nbsp;wear&nbsp;a&nbsp;uniform,&nbsp;skip&nbsp;this&nbsp;step.
</p>
<div class="registration-main">
    <div class="registration-step-style-photos" data-occasion="work">
        <ul class="js-style-photos-container image-select-group " data-min-photos="1" data-max-photos="20">
            @for (int i = 101; i < 146; i++) {
                var path = "../Content/Images/Signup/Stlyes/" + i.ToString() + ".jpeg";
                <li>
                    <a class="js-photo-toggle ">
                        <img src=@path alt="">
                    </a>
                </li>
            }
        </ul>
        <div class="form-actions ">
            <form method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="TbxwyzHc36vvz6KUTb6cdNHxsG2njCaB">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary btn-disabled">Next</button>
            </form>
        </div>
    </div>

</div>

