@model List<Looks.Models.Style>
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    And for work?
</h4>
<p class="helper-text">
    If you dress the
    same for work as you do at the work,
    or&nbsp;wear&nbsp;a&nbsp;uniform,&nbsp;skip&nbsp;this&nbsp;step.
</p>
<div class="registration-main">
    <div class="registration-step-style-photos" data-occasion="work">
        <form method="POST">
            @Html.Partial("_stylePartial", Model)
            <div class="form-actions ">

                <p class="helper-text">Select at least 1 to continue</p>
                <br>
                <button type="submit" class="btn js-next btn-primary ">Next</button>
            </div>
        </form>
    </div>

</div>

