<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <title>Welcome to Thread!</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/scripts/signup/widgets.js"></script>
    <script src="~/scripts/signup/5973920522.js"></script>
    <script src="~/scripts/signup/amplitude-2.10.0-min.gz.js"></script>
    <script src="~/scripts/signup/bugsnag-3.min.js"></script>
    <script src="~/scripts/signup/bundle.7ab1724ec071.js"></script>
    <script src="~/scripts/signup/conversion_async.js"></script>
    <script src="~/scripts/signup/fbds.js"></script>
    <script src="~/scripts/signup/gtm.js"></script>
    <script src="~/scripts/signup/hotjar-268516.js"></script>
    <script src="~/scripts/signup/ld.js"></script>
    <script src="~/scripts/signup/mixpanel-2-latest.min.js"></script>
    <script src="~/scripts/signup/modules-78165ab84a9778a974d61def7b712b5c.js"></script>
    <script src="~/Scripts/Signup/project.js"></script>
    @*<script src="~/Scripts/Signup/sdk.js"></script>
        <script src="~/Scripts/Signup/uwt.js"></script>*@
    <script src="~/Scripts/Signup/whitechapel.ed540646662b.js"></script>
   
    <link href="~/Content/looks.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/whitechapel.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="./Introduction_files/stylesheet.421dd82fc80f.css">
        <link href="./Introduction_files/whitechapel.867b91be88b6.css" rel="stylesheet" media="screen">*@
    <style>
        body.tablesorter-disableSelection {
            -ms-user-select: none;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .tablesorter-resizable-container {
            position: relative;
            height: 1px;
        }

        .tablesorter-resizable-handle {
            position: absolute;
            display: inline-block;
            width: 8px;
            top: 1px;
            cursor: ew-resize;
            z-index: 3;
            user-select: none;
            -moz-user-select: none;
        }
    </style>
</head>
<body class="f_generic_whitechapel_base f_instantclick f_bootstrap3 f_base f_navigation f_cart2 f_dismissible_banner f_xhr_preferred_sizes f_user_feedback f_messages f_low_stock_notice f_migration_discount f_first_order_free_shipping f_charge_later f_unsupported_browser_notice f_box f_search f_image_rollover f_timed_competition f_key_item_colour_swatches f_brand_size_guides
      f_registration f_header_progress_bar
      f_registration_introduction">


    <header class="navigation navigation-minimal" role="navigation">
        <a class="navigation-container">
            <h1 class="navigation-brand hidden-xs hidden-sm">
                <span>Looks</span>
            </h1>
            <h1 class="navigation-title visible-xs visible-sm">
                <span class="navigation-brand">Looks</span>
            </h1>
        </a>
        <div class="progress-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="5.55555555556" aria-valuemin="0" aria-valuemax="100" style="width: 5.55555555556%;"></div>
            </div>
            <div class="progress-text" title="We need to collect some details from you so we can accurately help make you look even more amazing. It won&#39;t take long">
                Progress
            </div>
        </div>
    </header>

    <div class="container-fluid main-container">
        @RenderBody()
    </div>
</body>
</html>